@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{

    font-family: 'Montserrat', sans-serif;
}

.container-outer
{
    background-color: #f8f9fa!important;
    padding: 10px;

}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    top: 5px;
    right: -45px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:black;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

.quantity-dropdown
{
    height: 30px;
    width: 180px;
    /* border: 2px solid deepskyblue; */
    border-radius: 5px;
}

.container .primary-footer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;

}


/* .container .primary-footer .products {
    display: flex;
    flex-direction: column;
} */

hr
{
    margin-bottom: 0px;
}


.container .primary-footer .products ul li 
{
    list-style-type: none;
}


.container .primary-footer .products ul li a,
.container .primary-footer .social-icons ul li a
{
    color: black;
    text-decoration: none;
}


.container .primary-footer .social-icons
{
    display: flex;
    flex-direction: column;
}

.container .primary-footer .social-icons .number,
.container .primary-footer .social-icons .email
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container .primary-footer .social-icons .icons
{
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 180px;
    justify-content: space-between;
    font-size: 30px;

}  

.container .primary-footer .social-icons .icons .facebook a,
.container .primary-footer .social-icons .icons .instagram a,
.container .primary-footer .social-icons .icons .whatsapp a
{
    color: black;
    text-decoration: none;
}  

.container .primary-footer .products
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.container .secondary-footer  .copyright
{
    text-align: center;
    /* margin: 30px 0px; */
    padding: 15px 0px;
}

.d-none
{
    display : block!important;
}


.carousel-item .carousel-header
{
    font-size: 25px;

}

.carousel-discription
{
    font-size: 15px
}

@media only screen and (min-width: 300px)
{
    .switch {
        right: 5px;
    }
}

@media only screen and (min-width: 310px)
{
    .switch {
        right: 0px;
    }
}

@media only screen and (min-width: 320px)
{
    .switch {
        right: -5px;
    }
}

@media only screen and (min-width: 330px)
{
    .switch {
        right: -10px;
    }
}

@media only screen and (min-width: 340px)
{
    .switch {
        right: -15px;
    }
}

@media only screen and (min-width: 350px)
{
    .switch {
        right: -20px;
    }
}

@media only screen and (min-width: 360px)
{
    .switch {
        right: -20px;
    }
}

@media only screen and (min-width: 388px)
{
    .switch {
        right: -40px;
    }
}

@media only screen and (min-width: 430px)
{
    .switch {
        right: -60px;
    }
}

@media only screen and (min-width: 450px)
{
    .switch {
        right: -70px;
    }

    .products h5
    {
        text-align: center;
    }
 
    .container .inner-prod
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 480px)
{
    .switch {
        right: -85px;
    }
}

@media only screen and (min-width: 500px)
{
    .switch {
        right: -95px;
    }
}


@media only screen and (min-width: 550px)
{
    .switch {
        right: -120px;
    }
}

@media only screen and (min-width: 580px)
{
    .switch {
        right: -130px;
    }
}

@media only screen and (min-width: 600px)
{
    .switch {
        right: -135px;
    }
}

@media only screen and (min-width: 650px)
{
    .switch {
        right: -165px;
    }
}


@media only screen and (min-width: 700px)
{
    .switch {
        right: -185px;
    }
}

@media only screen and (min-width: 750px)
{
    .switch {
        right: -205px;
    }
}

@media only screen and (min-width: 800px)
{
    .switch {
        right: -225px;
    }
}

@media only screen and (min-width: 830px)
{
    .switch {
        right: -235px;
    }
}

@media only screen and (min-width: 850px)
{
    .switch {
        right: -245px;
    }
}

@media only screen and (min-width: 860px)
{
    .switch {
        right: -260px;
    }
}

@media only screen and (min-width: 875px)
{
    .switch {
        right: -275px;
    }
}


@media only screen and (min-width: 900px)
{
    .switch {
        right: -285px;
    }
}

@media only screen and (min-width: 925px)
{
    .switch {
        right: -295px;
    }
}


@media only screen and (min-width: 950px)
{
    .switch {
        right: -305px;
    }
}


@media only screen and (min-width: 975px)
{
    .switch {
        right: -330px;
    }
}


@media only screen and (min-width: 1000px)
{
    .switch {
        right: -315px;
    }
}


.container-outer .container .primary-footer  .products a
{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 780px)
{
 
    .carousel-item .carousel-header
    {
        font-size: 40px;

    }

    .carousel-discription
    {
        font-size: 30px
    }

    .container .primary-footer
    {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    }
}

@media only screen and (min-width: 992px)
{
    .switch {
        right: -750px;
    }

    .primary-footer
    {
        padding: 5px 0px;
    }
}


@media only screen and (min-width: 1009px)
{
    .switch {
        right: -770px;
    }
}

@media only screen and (min-width: 1019px)
{
    .switch {
        right: -780px;
    }
}

@media only screen and (min-width: 1039px)
{
    .switch {
        right: -790px;
         
    }
}